/* Add this to your CSS file */
.modal-loan-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-loan-content {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  width: 90%;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.close-loan-button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* For the Pagination */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #007bff;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  background-color: #007bff;
  color: #fff;
}
